In [1]:
import pandas as pd
import numpy as np

In [2]:
full_merged_data = pd.read_csv("/Users/davidguenoun/code/davidguenoun/wagon_final_project_netflix/Netflix/raw_data/full_data_merged.csv")

In [3]:
full_merged_data

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,totalSeasons,Response,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings
0,1,2003.0,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003–,NaN,14 Dec 2003,50 min,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,1997.0,Character,3.641153,2012,Character,1997,R,27 Mar 1998,122 min,...,NaN,True,NaN,04 Feb 2003,"$623,983",Almerica Film,NaN,92%,NaN,NaN
2,6,1997.0,Sick,3.084396,1019,Sick,1997,Not Rated,07 Nov 1997,90 min,...,NaN,True,NaN,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,NaN,91%,82/100,NaN
3,7,1992.0,8 Man,2.129032,93,8 Man,1992,NaN,NaN,83 min,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10,2001.0,Fighter,3.180723,249,Fighter,2007,NaN,14 Dec 2007,100 min,...,NaN,True,NaN,NaN,NaN,First Run Features,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12375,17763,1978.0,Interiors,3.411855,1957,Interiors,1978,PG,06 Oct 1978,92 min,...,NaN,True,NaN,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN
12376,17764,1998.0,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,08 Jan 1999,123 min,...,NaN,True,NaN,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN
12377,17768,2000.0,Epoch,2.839207,1362,Epoch,2001,PG-13,24 Nov 2001,96 min,...,NaN,True,NaN,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN
12378,17769,2003.0,The Company,2.498592,6749,The Company,2003,PG-13,20 May 2004,112 min,...,NaN,True,NaN,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN
12379,17770,2003.0,Alien Hunter,2.816504,921,Alien Hunter,2003,R,19 Jul 2003,92 min,...,NaN,True,NaN,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN

In [6]:
#Investigate Box Office
full_merged_data.BoxOffice.isnull().sum()/len(full_merged_data)*100
#Greater than 30% of values missing: Potentially drop feature or row

50.16155088852988

In [7]:
#Investigate DVD
we will drop DVD

SyntaxError: invalid syntax (<ipython-input-7-dc216e013571>, line 2)

In [8]:
full_merged_data[["Year_x"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12380 entries, 0 to 12379
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year_x  12378 non-null  float64
dtypes: float64(1)
memory usage: 96.8 KB

In [9]:
#enlever les null values de Year_X
full_merged_data[full_merged_data[["Year_x"]].isnull().values]
full_merged_data["Year_x"][8017] = 1974
full_merged_data["Year_x"][11739] = 1994

<ipython-input-9-6c13e608d0cd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_merged_data["Year_x"][8017] = 1974
<ipython-input-9-6c13e608d0cd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_merged_data["Year_x"][11739] = 1994

In [10]:
def transform_to_int(x):
    return int(x)

In [11]:
full_merged_data["Year_x"] = full_merged_data["Year_x"].apply(transform_to_int)

In [12]:
full_merged_data.tail()

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,totalSeasons,Response,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings
12375,17763,1978,Interiors,3.411855,1957,Interiors,1978,PG,06 Oct 1978,92 min,...,NaN,True,NaN,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN
12376,17764,1998,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,08 Jan 1999,123 min,...,NaN,True,NaN,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN
12377,17768,2000,Epoch,2.839207,1362,Epoch,2001,PG-13,24 Nov 2001,96 min,...,NaN,True,NaN,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN
12378,17769,2003,The Company,2.498592,6749,The Company,2003,PG-13,20 May 2004,112 min,...,NaN,True,NaN,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN
12379,17770,2003,Alien Hunter,2.816504,921,Alien Hunter,2003,R,19 Jul 2003,92 min,...,NaN,True,NaN,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN

In [13]:
full_merged_data[["Year_y"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12380 entries, 0 to 12379
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year_y  12380 non-null  object
dtypes: object(1)
memory usage: 96.8+ KB

In [14]:
year_y = full_merged_data["Year_y"].str.replace("–","")

In [15]:
year_front = year_y.apply(lambda x : x[:4])
year_front = year_front.apply(lambda x : int(x))

In [16]:
year_end = year_y.apply(lambda x : x[-4:])
year_end = year_end.apply(lambda x : int(x))

In [17]:
print(year_front)
year_end

0        2003
1        1997
2        1997
3        1992
4        2007
         ...
12375    1978
12376    1998
12377    2001
12378    2003
12379    2003
Name: Year_y, Length: 12380, dtype: int64

0        2003
1        1997
2        1997
3        1992
4        2007
         ...
12375    1978
12376    1998
12377    2001
12378    2003
12379    2003
Name: Year_y, Length: 12380, dtype: int64

In [18]:
#explanation 
#when there is only one value, the value is the same for year_front and year_end ==> 
#if we take the average of two same values we get the value itself#

#when there is a range of value, the first value is in the year_front, and the second value is in the year_end value

In [19]:
#let's compute the mean for every value (standalone and range values)

In [20]:
year_y_mean = ((year_front +year_end)/2)

In [21]:
year_y_mean

0        2003.0
1        1997.0
2        1997.0
3        1992.0
4        2007.0
          ...
12375    1978.0
12376    1998.0
12377    2001.0
12378    2003.0
12379    2003.0
Name: Year_y, Length: 12380, dtype: float64

In [22]:
full_merged_data["Year_y"].value_counts()
full_merged_data["Year_y"].unique()

array(['2003–', '1997', '1992', '2007', '1947', '1988', '1995', '2005',
       '1994', '1990', '1972', '2001', '2000', '2009', '2004', '2003',
       '2006', '1973', '1996–', '2002', '1999', '1964', '1952', '2017',
       '1941', '1943', '1920', '1996', '2011–2014', '1979', '1951',
       '1983', '2015', '1998', '1985', '1989', '1965', '2012–2018',
       '1957', '2012', '1981', '1987', '2019–', '1978', '1991', '1975',
       '1971', '1939', '1982', '1980', '1968', '1950', '2008', '1993',
       '1919', '1942', '1959', '1962', '1966', '1935', '2014', '1948',
       '1974', '2016', '2018', '2010', '1936', '2001–', '1967', '1969',
       '1976', '1946', '1970', '1928', '2013', '2002–2003', '1961',
       '1984', '1931', '2011', '2019', '1955', '1963', '1997–', '1960',
       '2018–2019', '2000–2011', '1976–1977', '1977', '1986', '1997–1999',
       '2004–', '1998–', '1958', '1990–', '1996–1997', '1995–',
       '2013–2015', '1944', '1954', '1994–1996', '2014–', '1930', '1940',
       '2010–2015', '2020–', '1990–1991', '1945', '1932', '2003–2004',
       '2020', '2016–2019', '1949', '1953', '1927', '1967–1968', '1937',
       '1956', '1921', '2000–2018', '2000–', '1992–1997', '2011–2015',
       '1982–1988', '1971–1972', '1957–1963', '1995–2000', '2004–2005',
       '2010–2011', '1938', '1993–1994', '1991–2005', '2021', '1983–',
       '2001–2017', '1963–1964', '2009–', '2011–2016', '2003–2006',
       '2016–', '2006–2008', '1898', '1958–1961', '1998–1999', '1977–',
       '2014–2020', '2000–2001', '2013–', '1968–1974', '1999–',
       '2018–2020', '2015–2018', '2011–2018', '2002–', '2017–',
       '2000–2006', '1933', '1934', '1955–', '1964–', '1997–1998',
       '2002–2009', '1925', '2021–', '1996–2003', '2017–2018',
       '2006–2012', '2009–2016', '1994–1995', '1981–', '1984–',
       '2019–2020', '1929', '1994–', '2018–', '1984–1985', '1962–1968',
       '1987–', '1918', '1976–1979', '1985–', '1990–1995', '1926', '1896',
       '1989–2013', '2008–2012', '2015–2016', '1950–1961', '2010–2012',
       '1990–1992', '2001–2006', '2005–2020', '2005–', '2012–', '1924',
       '2000–2005', '1960–1968', '2002–2004', '1962–1963', '2002–2019',
       '2001–2002', '2004–2009', '2015–2020', '1969–1974', '2014–2016',
       '1992–1995', '1974–1979', '2002–2011', '1993–1996', '2005–2017',
       '1983–1984', '2013–2014', '2001–2005', '1986–1988', '2015–2017',
       '1993–', '2004–2012', '1915', '1998–2000', '1967–', '2007–',
       '1914', '2009–2015', '1999–2003', '1999–2002', '2012–2013',
       '1999–2000', '1907', '2019–2021', '2016–2020', '1992–', '2011–',
       '1972–1985', '2012–2020', '1959–1961', '1904', '1997–2013',
       '1994–2010', '2001–2003', '1952–1966', '1989–2002', '2000–2002',
       '1988–2003', '2014–2015', '1991–', '1987–1991', '2005–2007',
       '1922', '2001–2004', '2005–2006', '1923', '1989–', '1999–2004',
       '2010–2019', '1995–1998', '1952–1953', '1906', '1986–1989',
       '1961–', '2014–2018', '1988–', '1958–', '1996–1998', '1903',
       '1988–1991', '1991–1993', '1999–2001', '1989–1992', '2007–2013',
       '2002–2007', '1978–', '2010–', '2004–2006', '1973–2010', '1909',
       '2004–2018', '2015–2019', '1963–', '2013–2016', '2014–2019',
       '1917', '2015–', '1973–1974', '2001–2007', '2002–2008',
       '2013–2018', '1973–1975', '1969–1970', '2022', '1974–',
       '1959–1973', '1978–2012', '2016–2017', '1996–2004', '1996–1999',
       '2017–2019', '1992–1993', '1975–1977', '1995–1996', '2015–2021',
       '1980–1981', '1997–2001'], dtype=object)

In [23]:
full_merged_data["Year_y_mean"] = year_y_mean

In [24]:
#create a new column for the difference between year X and Year_y_mean

In [25]:
full_merged_data["diff_X_Y_mean"] = full_merged_data["Year_x"] - full_merged_data["Year_y_mean"]
full_merged_data["diff_X_Y_mean"] = full_merged_data["diff_X_Y_mean"].apply(lambda x : abs(x))

In [26]:
full_merged_data

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings,Year_y_mean,diff_X_Y_mean
0,1,2003,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003–,NaN,14 Dec 2003,50 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.0,0.0
1,3,1997,Character,3.641153,2012,Character,1997,R,27 Mar 1998,122 min,...,NaN,04 Feb 2003,"$623,983",Almerica Film,NaN,92%,NaN,NaN,1997.0,0.0
2,6,1997,Sick,3.084396,1019,Sick,1997,Not Rated,07 Nov 1997,90 min,...,NaN,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,NaN,91%,82/100,NaN,1997.0,0.0
3,7,1992,8 Man,2.129032,93,8 Man,1992,NaN,NaN,83 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,0.0
4,10,2001,Fighter,3.180723,249,Fighter,2007,NaN,14 Dec 2007,100 min,...,NaN,NaN,NaN,First Run Features,NaN,NaN,NaN,NaN,2007.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12375,17763,1978,Interiors,3.411855,1957,Interiors,1978,PG,06 Oct 1978,92 min,...,NaN,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN,1978.0,0.0
12376,17764,1998,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,08 Jan 1999,123 min,...,NaN,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN,1998.0,0.0
12377,17768,2000,Epoch,2.839207,1362,Epoch,2001,PG-13,24 Nov 2001,96 min,...,NaN,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN,2001.0,1.0
12378,17769,2003,The Company,2.498592,6749,The Company,2003,PG-13,20 May 2004,112 min,...,NaN,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN,2003.0,0.0
12379,17770,2003,Alien Hunter,2.816504,921,Alien Hunter,2003,R,19 Jul 2003,92 min,...,NaN,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN,2003.0,0.0

In [27]:
full_merged_data = full_merged_data.loc[full_merged_data["diff_X_Y_mean"] <= 2]

In [28]:
full_merged_data

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings,Year_y_mean,diff_X_Y_mean
0,1,2003,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003–,NaN,14 Dec 2003,50 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.0,0.0
1,3,1997,Character,3.641153,2012,Character,1997,R,27 Mar 1998,122 min,...,NaN,04 Feb 2003,"$623,983",Almerica Film,NaN,92%,NaN,NaN,1997.0,0.0
2,6,1997,Sick,3.084396,1019,Sick,1997,Not Rated,07 Nov 1997,90 min,...,NaN,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,NaN,91%,82/100,NaN,1997.0,0.0
3,7,1992,8 Man,2.129032,93,8 Man,1992,NaN,NaN,83 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,0.0
5,12,1947,My Favorite Brunette,3.417582,546,My Favorite Brunette,1947,Passed,04 Apr 1947,87 min,...,NaN,10 Mar 2016,NaN,"Paramount Pictures, Hope Enterprises",NaN,75%,NaN,NaN,1947.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12375,17763,1978,Interiors,3.411855,1957,Interiors,1978,PG,06 Oct 1978,92 min,...,NaN,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN,1978.0,0.0
12376,17764,1998,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,08 Jan 1999,123 min,...,NaN,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN,1998.0,0.0
12377,17768,2000,Epoch,2.839207,1362,Epoch,2001,PG-13,24 Nov 2001,96 min,...,NaN,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN,2001.0,1.0
12378,17769,2003,The Company,2.498592,6749,The Company,2003,PG-13,20 May 2004,112 min,...,NaN,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN,2003.0,0.0
12379,17770,2003,Alien Hunter,2.816504,921,Alien Hunter,2003,R,19 Jul 2003,92 min,...,NaN,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN,2003.0,0.0

In [29]:
ls

MANIFEST.in       README.md         raw_data/         setup.py
Makefile          Untitled.ipynb    requirements.txt  tests/
Netflix/          notebooks/        scripts/

In [30]:
full_merged_data.to_csv("raw_data/time_adjusted_data.csv",index = False)

In [59]:
full_merged_data = full_merged_data["Released"].fillna("N/A")

##Categorize Release feature

In [63]:
full_merged_data["Released"] = full_merged_data["Released"].fillna("N/A")

KeyError: 'Released'

In [51]:
full_merged_data["Released"] = full_merged_data[["Released"]].dropna()

<ipython-input-51-3c395cf909d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_merged_data["Released"] = full_merged_data[["Released"]].dropna()

In [52]:
full_merged_data[["Released"]].isna().sum()

Released    313
dtype: int64

In [56]:
#create a function that removes digit
def remove_digit(x):
    if x == np.nan:
        return
    return ''.join([i for i in x if not i.isdigit()]).strip()

'hello'

In [53]:
full_merged_data["Released_month"] = full_merged_data[["Released"]].apply(lambda x : remove_digit(str(x)))

<ipython-input-53-a9f1ddb151b3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_merged_data["Released_month"] = full_merged_data[["Released"]].apply(lambda x : remove_digit(str(x)))

In [54]:
full_merged_data

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings,Year_y_mean,diff_X_Y_mean,Released_month
0,1,2003,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003–,NaN,14 Dec 2003,50 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.0,0.0,NaN
1,3,1997,Character,3.641153,2012,Character,1997,R,27 Mar 1998,122 min,...,04 Feb 2003,"$623,983",Almerica Film,NaN,92%,NaN,NaN,1997.0,0.0,NaN
2,6,1997,Sick,3.084396,1019,Sick,1997,Not Rated,07 Nov 1997,90 min,...,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,NaN,91%,82/100,NaN,1997.0,0.0,NaN
3,7,1992,8 Man,2.129032,93,8 Man,1992,NaN,NaN,83 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,0.0,NaN
5,12,1947,My Favorite Brunette,3.417582,546,My Favorite Brunette,1947,Passed,04 Apr 1947,87 min,...,10 Mar 2016,NaN,"Paramount Pictures, Hope Enterprises",NaN,75%,NaN,NaN,1947.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12375,17763,1978,Interiors,3.411855,1957,Interiors,1978,PG,06 Oct 1978,92 min,...,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN,1978.0,0.0,NaN
12376,17764,1998,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,08 Jan 1999,123 min,...,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN,1998.0,0.0,NaN
12377,17768,2000,Epoch,2.839207,1362,Epoch,2001,PG-13,24 Nov 2001,96 min,...,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN,2001.0,1.0,NaN
12378,17769,2003,The Company,2.498592,6749,The Company,2003,PG-13,20 May 2004,112 min,...,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN,2003.0,0.0,NaN
12379,17770,2003,Alien Hunter,2.816504,921,Alien Hunter,2003,R,19 Jul 2003,92 min,...,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN,2003.0,0.0,NaN