In [2]:
import requests
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
full_data_merged = pd.read_csv("./../raw_data/full_data_merged.csv")
full_data_merged

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,totalSeasons,Response,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings
0,1,2003.0,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003–,NaN,14 Dec 2003,50 min,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,1997.0,Character,3.641153,2012,Character,1997,R,27 Mar 1998,122 min,...,NaN,True,NaN,04 Feb 2003,"$623,983",Almerica Film,NaN,92%,NaN,NaN
2,6,1997.0,Sick,3.084396,1019,Sick,1997,Not Rated,07 Nov 1997,90 min,...,NaN,True,NaN,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,NaN,91%,82/100,NaN
3,7,1992.0,8 Man,2.129032,93,8 Man,1992,NaN,NaN,83 min,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10,2001.0,Fighter,3.180723,249,Fighter,2007,NaN,14 Dec 2007,100 min,...,NaN,True,NaN,NaN,NaN,First Run Features,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12375,17763,1978.0,Interiors,3.411855,1957,Interiors,1978,PG,06 Oct 1978,92 min,...,NaN,True,NaN,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN
12376,17764,1998.0,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,08 Jan 1999,123 min,...,NaN,True,NaN,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN
12377,17768,2000.0,Epoch,2.839207,1362,Epoch,2001,PG-13,24 Nov 2001,96 min,...,NaN,True,NaN,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN
12378,17769,2003.0,The Company,2.498592,6749,The Company,2003,PG-13,20 May 2004,112 min,...,NaN,True,NaN,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN
12379,17770,2003.0,Alien Hunter,2.816504,921,Alien Hunter,2003,R,19 Jul 2003,92 min,...,NaN,True,NaN,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN

In [39]:
full_data_merged.columns

Index(['movie_id', 'Year_x', 'Name', 'mean', 'count', 'Title', 'Year_y',
       'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors',
       'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Metascore',
       'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'totalSeasons', 'Response',
       'Error', 'DVD', 'BoxOffice', 'Production', 'Website', 'Rotten Tomatoes',
       'Metacritic', 'Ratings'],
      dtype='object')

In [8]:
full_data_merged["totalSeasons"].count()

632

In [12]:
full_data_merged["totalSeasons"].isnull().sum()

11748

In [13]:
full_data_merged["Website"].isnull().sum()

12379

In [25]:
full_data_merged["Website"].count()

1

In [21]:
full_data_merged["Ratings"].isnull().sum()

12182

In [23]:
full_data_merged["Production"].isnull().sum()

4261

In [26]:
4261/12380

0.34418416801292406

In [28]:
full_data_merged["Response"].unique()

array([ True])

In [31]:
full_data_merged["Error"].unique()

array([nan])

In [55]:
full_data_merged["Type"].value_counts()

movie     11648
series      732
Name: Type, dtype: int64

In [81]:
full_data_merged["Type"].isnull().sum()

0

In [56]:
full_data_merged["Actors"].value_counts()

Demi Moore, Jason Alexander, Mary Kay Bergman                      36
Keira Knightley, Jude Law, Aaron Taylor-Johnson                    25
Barney Clark, Ben Kingsley, Jeremy Swift                           25
Daniel Romer, Heather Ann Davis, Megan Lee Joy, Rob Steinhauser    25
Anggun, James Earl Jones, Patrick Stewart, Ulrich Tukur            25
                                                                   ..
Mick Avory, Dave Davies, Ray Davies, Ian Gibbons                    1
Ashley Judd, Luke Perry, Bruce A. Young, Jim True-Frost             1
Steve Martin, Kathleen Turner, David Warner                         1
Susan Smythe, Juliet Bradford, Phoebe Dollar, Elina Madison         1
John Wayne, Eddie Albert, Diana Muldaur, Colleen Dewhurst           1
Name: Actors, Length: 10601, dtype: int64

In [58]:
full_data_merged["Actors"].isnull().sum()

99

In [59]:
99/12380

0.007996768982229402

In [62]:
full_data_merged["Writer"].value_counts()

Tab Murphy, Victor Hugo, Irene Mecchi                     36
Woody Allen                                               28
Tom Stoppard, Lev Tolstoy                                 25
Charles Dickens, Ronald Harwood                           25
Leslie Megahey (narration written by)                     25
                                                          ..
Craig Bartlett, Steve Viksten                              1
Daniel Ford (novel), Wendell Mayes                         1
William J. Keenan (teleplay), Phyllis McGinley (novel)     1
W.T. Morgan                                                1
Steve Fisher, Walter Doniger, Cyril Hume                   1
Name: Writer, Length: 8864, dtype: int64

In [63]:
full_data_merged["Writer"].isnull().sum()

1101

In [64]:
1101/12380

0.08893376413570275

In [65]:
full_data_merged["Director"].isnull().sum()

859

In [66]:
859/12380

0.06938610662358644

In [67]:
full_data_merged.isnull().sum()

movie_id               0
Year_x                 2
Name                   0
mean                   0
count                  0
Title                  0
Year_y                 0
Rated               1658
Released             484
Runtime              251
Genre                 49
Director             859
Writer              1101
Actors                99
Plot                 332
Language              83
Country               19
Awards              4260
Poster               252
Metascore           6963
imdbRating           199
imdbVotes            199
imdbID                 0
Type                   0
totalSeasons       11748
Response               0
Error              12380
DVD                 3035
BoxOffice           6210
Production          4261
Website            12379
Rotten Tomatoes     2214
Metacritic          6963
Ratings            12182
dtype: int64

In [72]:
[full_data_merged["Year_y"].value_counts()]

2002         731
2003         697
2004         677
2001         646
2000         632
            ...
2000–2002      1
1988–1991      1
2002–2019      1
1978–2012      1
2019–2021      1
Name: Year_y, Length: 302, dtype: int64

In [75]:
full_data_merged["Year_y"].unique()

array(['2003–', '1997', '1992', '2007', '1947', '1988', '1995', '2005',
       '1994', '1990', '1972', '2001', '2000', '2009', '2004', '2003',
       '2006', '1973', '1996–', '2002', '1999', '1964', '1952', '2017',
       '1941', '1943', '1920', '1996', '2011–2014', '1979', '1951',
       '1983', '2015', '1998', '1985', '1989', '1965', '2012–2018',
       '1957', '2012', '1981', '1987', '2019–', '1978', '1991', '1975',
       '1971', '1939', '1982', '1980', '1968', '1950', '2008', '1993',
       '1919', '1942', '1959', '1962', '1966', '1935', '2014', '1948',
       '1974', '2016', '2018', '2010', '1936', '2001–', '1967', '1969',
       '1976', '1946', '1970', '1928', '2013', '2002–2003', '1961',
       '1984', '1931', '2011', '2019', '1955', '1963', '1997–', '1960',
       '2018–2019', '2000–2011', '1976–1977', '1977', '1986', '1997–1999',
       '2004–', '1998–', '1958', '1990–', '1996–1997', '1995–',
       '2013–2015', '1944', '1954', '1994–1996', '2014–', '1930', '1940',
       '2010–2015', '2020–', '1990–1991', '1945', '1932', '2003–2004',
       '2020', '2016–2019', '1949', '1953', '1927', '1967–1968', '1937',
       '1956', '1921', '2000–2018', '2000–', '1992–1997', '2011–2015',
       '1982–1988', '1971–1972', '1957–1963', '1995–2000', '2004–2005',
       '2010–2011', '1938', '1993–1994', '1991–2005', '2021', '1983–',
       '2001–2017', '1963–1964', '2009–', '2011–2016', '2003–2006',
       '2016–', '2006–2008', '1898', '1958–1961', '1998–1999', '1977–',
       '2014–2020', '2000–2001', '2013–', '1968–1974', '1999–',
       '2018–2020', '2015–2018', '2011–2018', '2002–', '2017–',
       '2000–2006', '1933', '1934', '1955–', '1964–', '1997–1998',
       '2002–2009', '1925', '2021–', '1996–2003', '2017–2018',
       '2006–2012', '2009–2016', '1994–1995', '1981–', '1984–',
       '2019–2020', '1929', '1994–', '2018–', '1984–1985', '1962–1968',
       '1987–', '1918', '1976–1979', '1985–', '1990–1995', '1926', '1896',
       '1989–2013', '2008–2012', '2015–2016', '1950–1961', '2010–2012',
       '1990–1992', '2001–2006', '2005–2020', '2005–', '2012–', '1924',
       '2000–2005', '1960–1968', '2002–2004', '1962–1963', '2002–2019',
       '2001–2002', '2004–2009', '2015–2020', '1969–1974', '2014–2016',
       '1992–1995', '1974–1979', '2002–2011', '1993–1996', '2005–2017',
       '1983–1984', '2013–2014', '2001–2005', '1986–1988', '2015–2017',
       '1993–', '2004–2012', '1915', '1998–2000', '1967–', '2007–',
       '1914', '2009–2015', '1999–2003', '1999–2002', '2012–2013',
       '1999–2000', '1907', '2019–2021', '2016–2020', '1992–', '2011–',
       '1972–1985', '2012–2020', '1959–1961', '1904', '1997–2013',
       '1994–2010', '2001–2003', '1952–1966', '1989–2002', '2000–2002',
       '1988–2003', '2014–2015', '1991–', '1987–1991', '2005–2007',
       '1922', '2001–2004', '2005–2006', '1923', '1989–', '1999–2004',
       '2010–2019', '1995–1998', '1952–1953', '1906', '1986–1989',
       '1961–', '2014–2018', '1988–', '1958–', '1996–1998', '1903',
       '1988–1991', '1991–1993', '1999–2001', '1989–1992', '2007–2013',
       '2002–2007', '1978–', '2010–', '2004–2006', '1973–2010', '1909',
       '2004–2018', '2015–2019', '1963–', '2013–2016', '2014–2019',
       '1917', '2015–', '1973–1974', '2001–2007', '2002–2008',
       '2013–2018', '1973–1975', '1969–1970', '2022', '1974–',
       '1959–1973', '1978–2012', '2016–2017', '1996–2004', '1996–1999',
       '2017–2019', '1992–1993', '1975–1977', '1995–1996', '2015–2021',
       '1980–1981', '1997–2001'], dtype=object)

In [79]:
full_data_merged["Year_y"][0]

'2003–'

In [80]:
full_data_merged["Title"].value_counts()

The Hunchback of Notre Dame    36
Anna Karenina                  25
Oliver Twist                   25
Earth                          25
Upstairs                       25
                               ..
Iron Eagle                      1
Uzumaki                         1
A Simple Plan                   1
Madonna: Music                  1
The Misfits                     1
Name: Title, Length: 10764, dtype: int64

In [99]:
full_data_merged.shape

(12380, 34)

In [102]:
df_nodups = full_data_merged.drop_duplicates("movie_id")
df_nodups

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,totalSeasons,Response,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings
0,1,2003.0,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003–,NaN,14 Dec 2003,50 min,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,1997.0,Character,3.641153,2012,Character,1997,R,27 Mar 1998,122 min,...,NaN,True,NaN,04 Feb 2003,"$623,983",Almerica Film,NaN,92%,NaN,NaN
2,6,1997.0,Sick,3.084396,1019,Sick,1997,Not Rated,07 Nov 1997,90 min,...,NaN,True,NaN,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,NaN,91%,82/100,NaN
3,7,1992.0,8 Man,2.129032,93,8 Man,1992,NaN,NaN,83 min,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10,2001.0,Fighter,3.180723,249,Fighter,2007,NaN,14 Dec 2007,100 min,...,NaN,True,NaN,NaN,NaN,First Run Features,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12375,17763,1978.0,Interiors,3.411855,1957,Interiors,1978,PG,06 Oct 1978,92 min,...,NaN,True,NaN,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN
12376,17764,1998.0,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,08 Jan 1999,123 min,...,NaN,True,NaN,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN
12377,17768,2000.0,Epoch,2.839207,1362,Epoch,2001,PG-13,24 Nov 2001,96 min,...,NaN,True,NaN,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN
12378,17769,2003.0,The Company,2.498592,6749,The Company,2003,PG-13,20 May 2004,112 min,...,NaN,True,NaN,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN
12379,17770,2003.0,Alien Hunter,2.816504,921,Alien Hunter,2003,R,19 Jul 2003,92 min,...,NaN,True,NaN,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN

In [112]:
(df_nodups["Title"].value_counts() >1).sum()

382

In [108]:
df_nodups[df_nodups["Title"]=='Earth']

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,totalSeasons,Response,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings
1646,2107,1981.0,Earth,3.346614,251,Earth,2007,G,22 Apr 2009,90 min,...,NaN,True,NaN,13 Dec 2015,"$32,011,576","BBC Worldwide, Greenlight Media",NaN,86%,72/100,NaN
1651,5555,1990.0,Earth,2.965278,144,Earth,2007,G,22 Apr 2009,90 min,...,NaN,True,NaN,13 Dec 2015,"$32,011,576","BBC Worldwide, Greenlight Media",NaN,86%,72/100,NaN
1656,8478,2002.0,Earth,3.472222,108,Earth,2007,G,22 Apr 2009,90 min,...,NaN,True,NaN,13 Dec 2015,"$32,011,576","BBC Worldwide, Greenlight Media",NaN,86%,72/100,NaN
1661,11849,1998.0,Earth,3.614655,1160,Earth,2007,G,22 Apr 2009,90 min,...,NaN,True,NaN,13 Dec 2015,"$32,011,576","BBC Worldwide, Greenlight Media",NaN,86%,72/100,NaN
1666,16385,1994.0,Earth,3.375610,205,Earth,2007,G,22 Apr 2009,90 min,...,NaN,True,NaN,13 Dec 2015,"$32,011,576","BBC Worldwide, Greenlight Media",NaN,86%,72/100,NaN

In [85]:
full_data_merged[["Title","totalSeasons"]]

                     Title  totalSeasons
0          Dinosaur Planet           NaN
1                Character           NaN
2                     Sick           NaN
3                    8 Man           NaN
4                  Fighter           NaN
...                    ...           ...
12375            Interiors           NaN
12376  Shakespeare in Love           NaN
12377                Epoch           NaN
12378          The Company           NaN
12379         Alien Hunter           NaN

[12380 rows x 2 columns]

In [91]:
full_data_merged["totalSeasons"].isnull().sum()

11748

In [93]:
full_data_merged[["Production"]]

                                              Production
0                                                    NaN
1                                          Almerica Film
2      Sick-the Life and Death of Bob Flanagan-Superm...
3                                                    NaN
4                                     First Run Features
...                                                  ...
12375                          Rollins-Joffe Productions
12376  Miramax Films, Bedford Falls Productions, Univ...
12377                                Metro-Goldwyn-Mayer
12378  First Snow Production, Capitol Films, Sandcast...
12379                                                NaN

[12380 rows x 1 columns]