NETFLIX PROJECT

# Getting the API

In [1]:
import requests
import pandas as pd

In [2]:
# getting the information from the url
url = 'http://www.omdbapi.com/?i=tt3896198&apikey=ef5507df'
response = requests.get(url).json()
response

{'Title': 'Guardians of the Galaxy Vol. 2',
 'Year': '2017',
 'Rated': 'PG-13',
 'Released': '05 May 2017',
 'Runtime': '136 min',
 'Genre': 'Action, Adventure, Comedy',
 'Director': 'James Gunn',
 'Writer': 'James Gunn, Dan Abnett, Andy Lanning',
 'Actors': 'Chris Pratt, Zoe Saldana, Dave Bautista',
 'Plot': "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father the ambitious celestial being Ego.",
 'Language': 'English',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 15 wins & 58 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '85%'},
  {'Source': 'Metacritic', 'Value': '67/100'}],
 'Metascore': '67',
 'imdbRating': '7.6',
 'imdbVotes': '589,440',
 'imdbID': 'tt3896198',
 'Type': 'movie',
 'DVD': '10 Jul 2017',
 'BoxOffice': '$389,813,101',
 'Production': 'Walt Disney Pictures, Marvel Studios',
 'Website': 'N/A',
 'Response': 'True'}

In [3]:
response.keys()

dict_keys(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response'])

In [4]:
# creating a function which returns all movie info from Title as an input 

def movie_info_x(Title):
    url = f'http://www.omdbapi.com/?t={Title}&apikey=ef5507df'
    response = requests.get(url).json()
    return response 
    
movie_info_x("The Mask")

{'Title': 'The Mask',
 'Year': '1994',
 'Rated': 'PG-13',
 'Released': '29 Jul 1994',
 'Runtime': '101 min',
 'Genre': 'Action, Comedy, Crime, Fantasy',
 'Director': 'Chuck Russell',
 'Writer': 'Michael Fallon (story), Mark Verheiden (story), Mike Werb (screenplay)',
 'Actors': 'Jim Carrey, Peter Riegert, Peter Greene, Amy Yasbeck',
 'Plot': 'Bank clerk Stanley Ipkiss is transformed into a manic superhero when he wears a mysterious mask.',
 'Language': 'English, Swedish',
 'Country': 'USA',
 'Awards': 'Nominated for 1 Oscar. Another 6 wins & 20 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOWExYjI5MzktNTRhNi00Nzg2LThkZmQtYWVkYjRlYWI2MDQ4XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '79%'},
  {'Source': 'Metacritic', 'Value': '56/100'}],
 'Metascore': '56',
 'imdbRating': '6.9',
 'imdbVotes': '353,410',
 'imdbID': 'tt0110475',
 'Type': 'movie',
 'DVD': '01 Jun 2009',
 'BoxOffice': '$119,938,730',
 'Production': 'New Line Cinema, Dark Horse Entertainment',
 'Website': 'N/A',
 'Response': 'True'}

# Personalising the API response

In [5]:
# to show the ratings from Rotten Tomatoes and from Metacritics as additional columns

In [6]:
Title = "The Mask"
url = f'http://www.omdbapi.com/?t={Title}&apikey=ef5507df'
response = requests.get(url).json()
ratings_list = response["Ratings"]
for i in range(1, len(ratings_list)):
    response[ratings_list[i]['Source']] = ratings_list[i]['Value']

In [7]:
response

{'Title': 'The Mask',
 'Year': '1994',
 'Rated': 'PG-13',
 'Released': '29 Jul 1994',
 'Runtime': '101 min',
 'Genre': 'Action, Comedy, Crime, Fantasy',
 'Director': 'Chuck Russell',
 'Writer': 'Michael Fallon (story), Mark Verheiden (story), Mike Werb (screenplay)',
 'Actors': 'Jim Carrey, Peter Riegert, Peter Greene, Amy Yasbeck',
 'Plot': 'Bank clerk Stanley Ipkiss is transformed into a manic superhero when he wears a mysterious mask.',
 'Language': 'English, Swedish',
 'Country': 'USA',
 'Awards': 'Nominated for 1 Oscar. Another 6 wins & 20 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOWExYjI5MzktNTRhNi00Nzg2LThkZmQtYWVkYjRlYWI2MDQ4XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '79%'},
  {'Source': 'Metacritic', 'Value': '56/100'}],
 'Metascore': '56',
 'imdbRating': '6.9',
 'imdbVotes': '353,410',
 'imdbID': 'tt0110475',
 'Type': 'movie',
 'DVD': '01 Jun 2009',
 'BoxOffice': '$119,938,730',
 'Production': 'New Line Cinema, Dark Horse Entertainment',
 'Website': 'N/A',
 'Response': 'True',
 'Rotten Tomatoes': '79%',
 'Metacritic': '56/100'}

In [8]:
# updating the function to includ the above 2 additional columns & dropping the original Ratings dictionary 

def movie_info_(Title):
    url = f'http://www.omdbapi.com/?t={Title}&apikey=ef5507df'
    response = requests.get(url).json()
    ratings_list = response["Ratings"]
    for i in range(1, len(ratings_list)):
         response[ratings_list[i]['Source']] = ratings_list[i]['Value']
    del response["Ratings"]
    return response

In [9]:
movie_info_("Titanic")

{'Title': 'Titanic',
 'Year': '1997',
 'Rated': 'PG-13',
 'Released': '19 Dec 1997',
 'Runtime': '194 min',
 'Genre': 'Drama, Romance',
 'Director': 'James Cameron',
 'Writer': 'James Cameron',
 'Actors': 'Leonardo DiCaprio, Kate Winslet, Billy Zane, Kathy Bates',
 'Plot': 'A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.',
 'Language': 'English, Swedish, Italian, French',
 'Country': 'USA, Mexico, Australia, Canada',
 'Awards': 'Won 11 Oscars. Another 115 wins & 83 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg',
 'Metascore': '75',
 'imdbRating': '7.8',
 'imdbVotes': '1,067,012',
 'imdbID': 'tt0120338',
 'Type': 'movie',
 'DVD': '01 Jun 2014',
 'BoxOffice': '$659,363,944',
 'Production': '20th Century Fox, Lightstorm Entertainment, Paramount Pictures',
 'Website': 'N/A',
 'Response': 'True',
 'Rotten Tomatoes': '89%',
 'Metacritic': '75/100'}

# Updating the movie_info function to take our df as input

In [10]:
# Addapting the 

def movie_info_imdb(df):
    movies = []
    for index , row in df.iterows:
        title = row["Title"] #check the exact name of column
        url = f'http://www.omdbapi.com/?t={title}&apikey=ef5507df'
        response = requests.get(url).json()
        ratings_list = response.get("Ratings")
        if ratings_list:
            for i in range(1, len(ratings_list)):
                response[ratings_list[i]['Source']] = ratings_list[i]['Value']
            del response['Ratings']
        movies.append(response)
    return pd.Dataframe(movies)

In [11]:
movie_info_imdb("df")

AttributeError: 'str' object has no attribute 'iterows'

In [ ]:
pd.DataFrame([movie_info_("Titanic")])