In [10]:
import pandas as pd
import numpy as np
import requests

In [11]:
def movie_info(Title):
    """
    create a new column for each source
    """
    url = f"http://www.omdbapi.com/?t={Title}&apikey=ef5507df"
    response = requests.get(url).json()
    return response

In [24]:
pd.Series(movie_info("Inception")).to_frame()

                                                            0
Title                                               Inception
Year                                                     2010
Rated                                                   PG-13
Released                                          16 Jul 2010
Runtime                                               148 min
Genre                     Action, Adventure, Sci-Fi, Thriller
Director                                    Christopher Nolan
Writer                                      Christopher Nolan
Actors      Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...
Plot        A thief who steals corporate secrets through t...
Language                            English, Japanese, French
Country                                               USA, UK
Awards      Won 4 Oscars. Another 153 wins & 220 nominations.
Poster      https://m.media-amazon.com/images/M/MV5BMjAxMz...
Ratings     [{'Source': 'Internet Movie Database', 'Value'...
Metascore                                                  74
imdbRating                                                8.8
imdbVotes                                           2,112,329
imdbID                                              tt1375666
Type                                                    movie
DVD                                               20 Jun 2013
BoxOffice                                        $292,576,195
Production                              Syncopy, Warner Bros.
Website                                                   N/A
Response                                                 True

In [ ]:
pd.Series(movie_info("Inception")).to_frame()

In [29]:
def movie_df(Title):
    df = pd.DataFrame(movie_info(Title))
    for i in range(df.shape[0]):
        df[df["Ratings"][i]["Source"]] = df["Ratings"][i]["Value"]
    df = df.loc[[0]]
    df.drop(columns = ["Ratings","imdbRating"])
    return df

In [30]:
movie_info("Inception")

{'Title': 'Inception',
 'Year': '2010',
 'Rated': 'PG-13',
 'Released': '16 Jul 2010',
 'Runtime': '148 min',
 'Genre': 'Action, Adventure, Sci-Fi, Thriller',
 'Director': 'Christopher Nolan',
 'Writer': 'Christopher Nolan',
 'Actors': 'Leonardo DiCaprio, Joseph Gordon-Levitt, Elliot Page, Tom Hardy',
 'Plot': 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.',
 'Language': 'English, Japanese, French',
 'Country': 'USA, UK',
 'Awards': 'Won 4 Oscars. Another 153 wins & 220 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.8/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '87%'},
  {'Source': 'Metacritic', 'Value': '74/100'}],
 'Metascore': '74',
 'imdbRating': '8.8',
 'imdbVotes': '2,112,329',
 'imdbID': 'tt1375666',
 'Type': 'movie',
 'DVD': '20 Jun 2013',
 'BoxOffice': '$292,576,195',
 'Production': 'Syncopy, Warner Bros.',
 'Website': 'N/A',
 'Response': 'True'}

In [31]:
movie_df("Back to the future")

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbID,Type,DVD,BoxOffice,Production,Website,Response,Internet Movie Database,Rotten Tomatoes,Metacritic
0,Back to the Future,1985,PG,03 Jul 1985,116 min,"Adventure, Comedy, Sci-Fi",Robert Zemeckis,"Robert Zemeckis, Bob Gale","Michael J. Fox, Christopher Lloyd, Lea Thompso...","Marty McFly, a 17-year-old high school student...",...,tt0088763,movie,08 Aug 2013,"$211,406,762","Universal Pictures, Amblin Entertainment",N/A,True,8.5/10,96%,87/100

In [32]:
data = pd.read_csv("/Users/davidguenoun/Desktop/movie_titles4.csv")
data.drop(columns = ["Unnamed: 3","Unnamed: 4","Unnamed: 5"])

           1    2003                                    Dinosaur Planet
0          2  2004.0                         Isle of Man TT 2004 Review
1          3  1997.0                                          Character
2          4  1994.0                       Paula Abdul's Get Up & Dance
3          5  2004.0                           The Rise and Fall of ECW
4          6  1997.0                                               Sick
...      ...     ...                                                ...
17764  17766  2002.0  Where the Wild Things Are and Other Maurice Se...
17765  17767  2004.0                  Fidel Castro: American Experience
17766  17768  2000.0                                              Epoch
17767  17769  2003.0                                        The Company
17768  17770  2003.0                                       Alien Hunter

[17769 rows x 3 columns]

In [55]:
data = pd.read_csv("../raw_data/data.csv")