NETFLIX PROJECT

# Getting the API

In [1]:
import requests
import pandas as pd

In [2]:
# getting the information from the url
url = 'http://www.omdbapi.com/?i=tt3896198&apikey=ef5507df'
response = requests.get(url).json()
response

{'Title': 'Guardians of the Galaxy Vol. 2',
 'Year': '2017',
 'Rated': 'PG-13',
 'Released': '05 May 2017',
 'Runtime': '136 min',
 'Genre': 'Action, Adventure, Comedy',
 'Director': 'James Gunn',
 'Writer': 'James Gunn, Dan Abnett, Andy Lanning',
 'Actors': 'Chris Pratt, Zoe Saldana, Dave Bautista',
 'Plot': "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father the ambitious celestial being Ego.",
 'Language': 'English',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 15 wins & 58 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '85%'},
  {'Source': 'Metacritic', 'Value': '67/100'}],
 'Metascore': '67',
 'imdbRating': '7.6',
 'imdbVotes': '589,440',
 'imdbID': 'tt3896198',
 'Type': 'movie',
 'DVD': '10 Jul 2017',
 'BoxOffice': '$389,813,101',
 'Production': 'Walt Disney Pictures, Marvel Studios',
 'Website': 'N/A',
 'Response': 'True'}

In [3]:
response.keys()

dict_keys(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response'])

In [4]:
# creating a function which returns all movie info from Title as an input 

def movie_info_x(Title):
    url = f'http://www.omdbapi.com/?t={Title}&apikey=ef5507df'
    response = requests.get(url).json()
    return response 
    
movie_info_x("The Mask")

{'Title': 'The Mask',
 'Year': '1994',
 'Rated': 'PG-13',
 'Released': '29 Jul 1994',
 'Runtime': '101 min',
 'Genre': 'Action, Comedy, Crime, Fantasy',
 'Director': 'Chuck Russell',
 'Writer': 'Michael Fallon (story), Mark Verheiden (story), Mike Werb (screenplay)',
 'Actors': 'Jim Carrey, Peter Riegert, Peter Greene, Amy Yasbeck',
 'Plot': 'Bank clerk Stanley Ipkiss is transformed into a manic superhero when he wears a mysterious mask.',
 'Language': 'English, Swedish',
 'Country': 'USA',
 'Awards': 'Nominated for 1 Oscar. Another 6 wins & 20 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOWExYjI5MzktNTRhNi00Nzg2LThkZmQtYWVkYjRlYWI2MDQ4XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '79%'},
  {'Source': 'Metacritic', 'Value': '56/100'}],
 'Metascore': '56',
 'imdbRating': '6.9',
 'imdbVotes': '353,410',
 'imdbID': 'tt0110475',
 'Type': 'movie',
 'DVD': '01 Jun 2009',
 'BoxOffice': '$119,938,730',
 'Production': 'New Line Cinema, Dark Horse Entertainment',
 'Website': 'N/A',
 'Response': 'True'}

# Personalising the API response

In [5]:
# to show the ratings from Rotten Tomatoes and from Metacritics as additional columns

In [6]:
Title = "The Mask"
url = f'http://www.omdbapi.com/?t={Title}&apikey=ef5507df'
response = requests.get(url).json()
ratings_list = response["Ratings"]
for i in range(1, len(ratings_list)):
    response[ratings_list[i]['Source']] = ratings_list[i]['Value']

In [7]:
response

{'Title': 'The Mask',
 'Year': '1994',
 'Rated': 'PG-13',
 'Released': '29 Jul 1994',
 'Runtime': '101 min',
 'Genre': 'Action, Comedy, Crime, Fantasy',
 'Director': 'Chuck Russell',
 'Writer': 'Michael Fallon (story), Mark Verheiden (story), Mike Werb (screenplay)',
 'Actors': 'Jim Carrey, Peter Riegert, Peter Greene, Amy Yasbeck',
 'Plot': 'Bank clerk Stanley Ipkiss is transformed into a manic superhero when he wears a mysterious mask.',
 'Language': 'English, Swedish',
 'Country': 'USA',
 'Awards': 'Nominated for 1 Oscar. Another 6 wins & 20 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOWExYjI5MzktNTRhNi00Nzg2LThkZmQtYWVkYjRlYWI2MDQ4XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '79%'},
  {'Source': 'Metacritic', 'Value': '56/100'}],
 'Metascore': '56',
 'imdbRating': '6.9',
 'imdbVotes': '353,410',
 'imdbID': 'tt0110475',
 'Type': 'movie',
 'DVD': '01 Jun 2009',
 'BoxOffice': '$119,938,730',
 'Production': 'New Line Cinema, Dark Horse Entertainment',
 'Website': 'N/A',
 'Response': 'True',
 'Rotten Tomatoes': '79%',
 'Metacritic': '56/100'}

In [8]:
# updating the function to includ the above 2 additional columns & dropping the original Ratings dictionary 

def movie_info_(Title):
    url = f'http://www.omdbapi.com/?t={Title}&apikey=ef5507df'
    response = requests.get(url).json()
    ratings_list = response["Ratings"]
    for i in range(1, len(ratings_list)):
         response[ratings_list[i]['Source']] = ratings_list[i]['Value']
    del response["Ratings"]
    return response

In [9]:
movie_info_("Titanic")

{'Title': 'Titanic',
 'Year': '1997',
 'Rated': 'PG-13',
 'Released': '19 Dec 1997',
 'Runtime': '194 min',
 'Genre': 'Drama, Romance',
 'Director': 'James Cameron',
 'Writer': 'James Cameron',
 'Actors': 'Leonardo DiCaprio, Kate Winslet, Billy Zane, Kathy Bates',
 'Plot': 'A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.',
 'Language': 'English, Swedish, Italian, French',
 'Country': 'USA, Mexico, Australia, Canada',
 'Awards': 'Won 11 Oscars. Another 115 wins & 83 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg',
 'Metascore': '75',
 'imdbRating': '7.8',
 'imdbVotes': '1,067,012',
 'imdbID': 'tt0120338',
 'Type': 'movie',
 'DVD': '01 Jun 2014',
 'BoxOffice': '$659,363,944',
 'Production': '20th Century Fox, Lightstorm Entertainment, Paramount Pictures',
 'Website': 'N/A',
 'Response': 'True',
 'Rotten Tomatoes': '89%',
 'Metacritic': '75/100'}

# Applying basic function on csv with titles

In [10]:
#just for fun. To be ignored.

def movie_info_basic(title):
    url = f'http://www.omdbapi.com/?t={title}&apikey=ef5507df'
    response = requests.get(url).json()
    return response

In [11]:
df_movie = pd.read_csv('./../raw_data/movie_titles4.csv')

In [12]:
df_movie = df_movie.iloc[:, 1:3]
df_movie.columns = ['year', 'title']

In [13]:
df_movie.head()

     year                         title
0  2004.0    Isle of Man TT 2004 Review
1  1997.0                     Character
2  1994.0  Paula Abdul's Get Up & Dance
3  2004.0      The Rise and Fall of ECW
4  1997.0                          Sick

In [14]:
df_list = []
for title in df_movie['title'][:10]:
    response = movie_info_basic(title)
    if response['Response'] == 'False':
        pass
    else:
        a = pd.DataFrame([movie_info_(title)])
        df_list.append(a)

In [15]:
pd.concat(df_list)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,Rotten Tomatoes,Metacritic
0,Character,1997,R,27 Mar 1998,122 min,"Crime, Drama, Mystery",Mike van Diem,"Ferdinand Bordewijk (short story ""Dreverhaven ...","Jan Decleir, Fedja van Huêt, Betty Schuurman, ...","Jacob Katadreuffe lives mute with his mother, ...",...,"10,490",tt0119448,movie,04 Feb 2003,"$623,983",Almerica Film,N/A,True,92%,NaN
0,Sick,1997,Not Rated,07 Nov 1997,90 min,Documentary,Kirby Dick,N/A,"Kathe Burkhart, Kirby Dick, Bob Flanagan, Sher...",Diagnosed with cystic fibrosis from a young ag...,...,"1,569",tt0120126,movie,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,N/A,True,91%,82/100
0,8 Man,1992,N/A,N/A,83 min,"Action, Sci-Fi",Yasuhiro Horiuchi,"Kazumasa Hirai (comic-book), Jirô Kuwata (comi...","Kai Shishido, Etsushi Takahashi, Sachiko Ayase...",After Tokyo police officer Yokoda is killed in...,...,78,tt0182668,movie,N/A,N/A,N/A,N/A,True,NaN,NaN
0,Fighter,2007,N/A,14 Dec 2007,100 min,"Action, Drama",Natasha Arthy,"Nikolaj Arcel, Natasha Arthy, Rasmus Heisterberg","Semra Turan, Nima Nabipour, Cyron Melville",Aicha attends Kung Fu at her high school in Co...,...,"1,476",tt0995029,movie,N/A,N/A,First Run Features,N/A,True,NaN,NaN

In [16]:
# Trial; getting dummies of actors present in movies

In [17]:
actors = pd.Series(pd.concat(df_list)["Actors"])
actors_df = pd.get_dummies(actors, dummy_na=True)
actors_df

,"Jan Decleir, Fedja van Huêt, Betty Schuurman, Tamar van den Dop","Kai Shishido, Etsushi Takahashi, Sachiko Ayase, Osamu Ohtomo","Kathe Burkhart, Kirby Dick, Bob Flanagan, Sheree Rose","Semra Turan, Nima Nabipour, Cyron Melville",NaN
0,1,0,0,0,0
0,0,0,1,0,0
0,0,1,0,0,0
0,0,0,0,1,0

In [18]:
pd.Series(pd.concat(df_list)["Actors"]).str.join(sep='*').str.get_dummies(sep='*')

      ,  A  B  C  D  E  F  H  J  ...  n  o  p  r  s  t  u  v  y  ê
0  1  1  0  1  0  1  0  1  1  1  ...  1  1  1  1  0  1  1  1  1  1
0  1  1  0  1  0  1  0  1  0  0  ...  1  1  0  1  1  1  1  0  1  0
0  1  1  1  0  0  0  1  0  0  0  ...  0  1  0  0  1  1  1  0  1  0
0  1  1  0  0  1  0  0  0  0  0  ...  1  1  1  1  0  0  1  1  1  0

[4 rows x 39 columns]

In [19]:
df_merge = pd.concat(df_list)
df_merge['actor_list'] = pd.concat(df_list)['Actors'].apply(lambda x: x.split(','))

In [20]:
df_merge

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbID,Type,DVD,BoxOffice,Production,Website,Response,Rotten Tomatoes,Metacritic,actor_list
0,Character,1997,R,27 Mar 1998,122 min,"Crime, Drama, Mystery",Mike van Diem,"Ferdinand Bordewijk (short story ""Dreverhaven ...","Jan Decleir, Fedja van Huêt, Betty Schuurman, ...","Jacob Katadreuffe lives mute with his mother, ...",...,tt0119448,movie,04 Feb 2003,"$623,983",Almerica Film,N/A,True,92%,NaN,"[Jan Decleir, Fedja van Huêt, Betty Schuurma..."
0,Sick,1997,Not Rated,07 Nov 1997,90 min,Documentary,Kirby Dick,N/A,"Kathe Burkhart, Kirby Dick, Bob Flanagan, Sher...",Diagnosed with cystic fibrosis from a young ag...,...,tt0120126,movie,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,N/A,True,91%,82/100,"[Kathe Burkhart, Kirby Dick, Bob Flanagan, ..."
0,8 Man,1992,N/A,N/A,83 min,"Action, Sci-Fi",Yasuhiro Horiuchi,"Kazumasa Hirai (comic-book), Jirô Kuwata (comi...","Kai Shishido, Etsushi Takahashi, Sachiko Ayase...",After Tokyo police officer Yokoda is killed in...,...,tt0182668,movie,N/A,N/A,N/A,N/A,True,NaN,NaN,"[Kai Shishido, Etsushi Takahashi, Sachiko Ay..."
0,Fighter,2007,N/A,14 Dec 2007,100 min,"Action, Drama",Natasha Arthy,"Nikolaj Arcel, Natasha Arthy, Rasmus Heisterberg","Semra Turan, Nima Nabipour, Cyron Melville",Aicha attends Kung Fu at her high school in Co...,...,tt0995029,movie,N/A,N/A,First Run Features,N/A,True,NaN,NaN,"[Semra Turan, Nima Nabipour, Cyron Melville]"

In [21]:
pd.Series(pd.concat(df_list)["Actors"]).str.join(sep='*').str.get_dummies(sep='*')

      ,  A  B  C  D  E  F  H  J  ...  n  o  p  r  s  t  u  v  y  ê
0  1  1  0  1  0  1  0  1  1  1  ...  1  1  1  1  0  1  1  1  1  1
0  1  1  0  1  0  1  0  1  0  0  ...  1  1  0  1  1  1  1  0  1  0
0  1  1  1  0  0  0  1  0  0  0  ...  0  1  0  0  1  1  1  0  1  0
0  1  1  0  0  1  0  0  0  0  0  ...  1  1  1  1  0  0  1  1  1  0

[4 rows x 39 columns]

# loading the Netflix Dataset

In [22]:
pd.read_csv("../raw_data/data.csv")

,movie_id,Year,Name,mean,count
0,1,2003.0,Dinosaur Planet,3.749543,547
1,2,2004.0,Isle of Man TT 2004 Review,3.558621,145
2,3,1997.0,Character,3.641153,2012
3,4,1994.0,Paula Abdul's Get Up & Dance,2.739437,142
4,5,2004.0,The Rise and Fall of ECW,3.919298,1140
...,...,...,...,...,...
17765,17766,2002.0,Where the Wild Things Are and Other Maurice Se...,3.193388,605
17766,17767,2004.0,Fidel Castro: American Experience,3.671569,204
17767,17768,2000.0,Epoch,2.839207,1362
17768,17769,2003.0,The Company,2.498592,6749
17769,17770,2003.0,Alien Hunter,2.816504,921

In [23]:
df_netflix = pd.read_csv("../raw_data/data.csv")

In [24]:
#creating a small netflix dataset to test the function 
df_netflix_small = df_netflix.head(5)
df_netflix_small

   movie_id    Year                          Name      mean  count
0         1  2003.0               Dinosaur Planet  3.749543    547
1         2  2004.0    Isle of Man TT 2004 Review  3.558621    145
2         3  1997.0                     Character  3.641153   2012
3         4  1994.0  Paula Abdul's Get Up & Dance  2.739437    142
4         5  2004.0      The Rise and Fall of ECW  3.919298   1140

# Updating the movie_info function to take our df as input

In [43]:
# Finalising the function

def movie_info_imdb(df):
    movies = []
    for index , row in df.iterrows():
        title = row["Name"] #checked the exact name of column
        url = f'http://www.omdbapi.com/?t={title}&apikey=ef5507df'
        response = requests.get(url).json()
        ratings_list = response.get("Ratings")
        if ratings_list:
            for ratings in ratings_list:
                response[ratings['Source']] = ratings['Value']
            del response['Ratings']
        movies.append(response)
    return pd.DataFrame(movies)

In [26]:
# Creating a imdb_small dataframe just to test

imbd_small = movie_info_imdb(df_netflix_small)

In [27]:
#merging the netflix dataset and the imdb_small 

df_netflix_small.merge(imbd_small, left_on = "Name", right_on = "Title")

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,imdbID,Type,totalSeasons,Response,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes
0,1,2003.0,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003–,N/A,14 Dec 2003,50 min,...,tt0389605,series,N/A,True,NaN,NaN,NaN,NaN,NaN,NaN
1,3,1997.0,Character,3.641153,2012,Character,1997,R,27 Mar 1998,122 min,...,tt0119448,movie,NaN,True,NaN,04 Feb 2003,"$623,983",Almerica Film,N/A,92%

# Applying our function on a medium size dataset (ie: 250)

In [44]:
# selecting netflix sample of 250 

df_netflix_medium = df_netflix.sample(250)
df_netflix_medium

,movie_id,Year,Name,mean,count
5295,5296,2003.0,Camp,2.982863,6419
12061,12062,2002.0,The Wiggles: Wiggly Safari,3.333333,123
1569,1570,1999.0,School's Out,2.045455,88
3190,3191,2000.0,Tha EastSidaz,2.576471,85
4527,4528,1996.0,Xena: Warrior Princess: Season 2,3.772039,2246
...,...,...,...,...,...
11206,11207,1959.0,Invisible Invaders / Journey to the Seventh Pl...,2.847534,223
15650,15651,1997.0,Oliver Twist,3.479549,709
13548,13549,2002.0,Bikini Bandits Experience,2.052434,267
15868,15869,1940.0,Broadway Melody of 1940,3.630499,682
14254,14255,1994.0,Yeh Dillagi,2.918919,185

In [45]:
%%time
imbd_medium = movie_info_imdb(df_netflix_medium)
imbd_medium

CPU times: user 1.05 s, sys: 180 ms, total: 1.23 s
Wall time: 1min 5s

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,BoxOffice,Production,Website,Response,Internet Movie Database,Rotten Tomatoes,Metacritic,Error,totalSeasons,Ratings
0,Camp,2003,PG-13,29 Aug 2003,114 min,"Comedy, Musical, Drama",Todd Graff,Todd Graff,"Don Dixon, Daniel Letterle, Joanna Chilcoat","After a series of Broadway flops, songwriter B...",...,"$1,629,862",N/A,N/A,True,6.2/10,64%,55/100,NaN,NaN,NaN
1,The Wiggles: Wiggly Safari,2002,Not Rated,03 Sep 2002,52 min,"Family, Music",Gary Matheson,"Murray Cook, Jeff Fatt, Anthony Field, Greg Page","Greg Page, Anthony Field, Murray Cook, Jeff Fatt",Join the fab four of fun The Wiggles as they j...,...,N/A,N/A,N/A,True,6.6/10,NaN,NaN,NaN,NaN,NaN
2,Recess: School's Out,2001,G,16 Feb 2001,82 min,"Animation, Comedy, Family",Chuck Sheetz,"Paul Germain, Joe Ansolabehere, Jonathan Green...","Andrew Lawrence, Rickey D'Shon Collins, Jason ...",TJ and company must save summer vacation from ...,...,"$36,706,141",Walt Disney Television Animation,N/A,True,6.6/10,60%,43/100,NaN,NaN,NaN
3,Tha Eastsidaz,2000,R,29 Aug 2000,81 min,"Action, Crime",Michael Martin,"Michael Martin, Snoop Dogg","Snoop Dogg, Darryl Brunson, Tray Deee, Goldie Loc","Snap, Crackle, and Pop are top dogs in the Eas...",...,N/A,N/A,N/A,True,3.7/10,59%,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,Movie not found!,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,Movie not found!,NaN,NaN
246,Oliver Twist,2005,PG-13,30 Sep 2005,130 min,"Crime, Drama",Roman Polanski,"Charles Dickens, Ronald Harwood","Barney Clark, Ben Kingsley, Jeremy Swift","An adaptation of the classic Dickens tale, whe...",...,"$2,080,321",N/A,N/A,True,6.8/10,NaN,65/100,NaN,NaN,NaN
247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,Movie not found!,NaN,NaN
248,Broadway Melody of 1940,1940,Passed,09 Feb 1940,102 min,Musical,Norman Taurog,"Leon Gordon (screen play), George Oppenheimer ...","Fred Astaire, Eleanor Powell, George Murphy, F...",Johnny Brett and King Shaw are an unsuccessful...,...,N/A,"Metro-Goldwyn-Mayer, Loew&#39;s Inc.",N/A,True,7.3/10,80%,NaN,NaN,NaN,NaN
249,Yeh Dillagi,1994,Not Rated,06 May 1994,155 min,"Comedy, Drama, Musical, Romance",Naresh Malhotra,"Sachin Bhowmick (screenplay), Sachin Bhowmick ...","Kajol, Akshay Kumar, Saif Ali Khan, Saeed Jaffrey",A poor girl is rebuked by a rich boy. She leav...,...,N/A,Yash Raj Films,N/A,True,6.0/10,47%,NaN,NaN,NaN,NaN

In [50]:
%%time
df_250_merged = df_netflix_medium.merge(imbd_medium, left_on = "Name", right_on = "Title")
df_250_merged.to_csv("../raw_data/250_train.csv", index=False)

CPU times: user 9.04 ms, sys: 1.8 ms, total: 10.8 ms
Wall time: 9.6 ms

In [48]:
list_1 = list(df_netflix_medium.Name)
list_2 = list(imbd_medium.Title)

In [49]:
#Checking what movies did not merge

[x for x in list_1 if x not in list_2]

["School's Out",
 'Tha EastSidaz',
 'Xena: Warrior Princess: Season 2',
 'Arthur Saves the Day',
 'Mapp and Lucia: Series 1',
 "The Party's Over",
 'Norma Jean & Marilyn',
 'Classic Albums: Metallica: The Black Album',
 'The Philadelphia Experiment 2',
 "National Lampoon's Blackball",
 'The Tangerine Bear',
 'Resident Evil: Apocalypse: Bonus Material',
 'The Dinner Game',
 'A Girl Called Rosemarie',
 'Three Amigos',
 'King of the Cage: Sin City',
 'Les Liaisons Dangereuses',
 'The Three Stooges: Merry Mavericks',
 "Trading Spaces: Viewer's Choice",
 'El Bolero de Raquel',
 'Great People of the Bible: Abraham',
 'Sex & Fury',
 'Lord of the Rings: The Return of the King: Extended Edition: Bonus Material',
 'Escape from Alaska',
 'Amores Perros',
 'Winnie the Pooh: Spookable / Frankenpooh',
 'National Geographic: Beyond the Movie: Alexander the Great',
 'Leslie Sansone: Walk Away the Pounds: Walk & Jog',
 'J.R.R. Tolkien and the Birth of The Lord of the Rings',
 'The Warrior from Shaolin',
 'Jack Kerouac: King of the Beats',
 'Sarah McLachlan: VH1 Storytellers',
 'Growing up with Winnie the Pooh: A Great Day of Discovery',
 'Eastwood After Hours',
 'Coupling: Season 3',
 'Surgeon',
 'Mystery Science Theater 3000: I Accuse My Parents',
 'Scorpions: A Savage Crazy World',
 'The O.C.: Season 1',
 'The Sopranos: Season 1',
 'Batman: Holy Batmania',
 'Horrors of Spider Island',
 '13 Conversations About One Thing',
 'Ghost Rider: The Final Ride',
 'Those Who Love Me Can Take the Train',
 'Sailor Moon SuperS',
 'Stranger than Paradise',
 "Bill & Ted's Bogus Journey",
 'The Twilight Zone: Vol. 2',
 'The Adventures of Sharkboy & Lavagirl',
 'Cancer Warrior: Nova',
 'Buffy the Vampire Slayer: Season 1',
 "Island of Dr. Moreau: Director's Cut",
 'Men With Brooms',
 'The Dick Van Dyke Show: Season 3',
 'Time of Favor',
 'Def Leppard: Historia/In the Round in Your Face',
 'Chrysanthemum and More Kevin Henkes Stories',
 '.Com for Murder',
 'WWE: The Best of Intercontinental Championship Matches',
 'Dead Like Me: Season 2',
 'From Dusk Till Dawn: Full Tilt Boogie',
 "Bebe's Kids",
 'Visions of Italy',
 'Married... with Children: The Most Outrageous Episodes: Vol. 1',
 'The Berenstain Bears: Adventure & Fun for Everyone',
 '2002 Olympic Figure Skating Competition',
 'Inspector Alleyn Mysteries: Set 1',
 'V: The Complete TV Series',
 'Cream: Farewell Concert',
 'Major League 3: Back to the Minors',
 'Kiss of the Vampire',
 'Val Lewton: The Seventh Victim / Shadows in the Dark: The Val Lewton Legacy',
 'Dream Theater: Metropolis 2000: Scenes From New York',
 'Rip It Off',
 'The Prophecy 5: Forsaken',
 'Friday the 13th: Part 6: Jason Lives',
 'Pink Floyd: Atom Heart Mother',
 "American Graffiti: Collector's Edition",
 'Classic Albums: Lou Reed: Transformer',
 'MPD Psycho',
 'Leslie Sansone: Deluxe Walk',
 'XChange',
 'Something About Sex',
 'Louis Armstrong: Satchmo',
 'Wolves: IMAX',
 'Bay of Blood',
 'Bear in the Big Blue House: Tidy Time with Bear',
 'Frasier: Season 6',
 'All About My Mother',
 'The Rutles',
 'WOW Hits 2005',
 'Q & A',
 'Sesame Street: Babies',
 'Friday the 13th: Part 8: Jason Takes Manhattan',
 'Billy Blanks: Tae Bo: Flex',
 'The Arrival / The Arrival 2',
 "Bram Stoker's Dracula",
 'Armored Trooper Votoms Stage 3: Deadworld Sunsa',
 'Skinny Tiger',
 'Invisible Invaders / Journey to the Seventh Planet: Double Feature',
 'Bikini Bandits Experience']

In [34]:
#checking name of features 

imbd_small.columns

Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
       'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster',
       'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type',
       'totalSeasons', 'Response', 'Error', 'DVD', 'BoxOffice', 'Production',
       'Website', 'Rotten Tomatoes'],
      dtype='object')

In [41]:
imbd_small["Genre"]

0    Documentary, Animation, Family
1                               NaN
2             Crime, Drama, Mystery
3                               NaN
4                               NaN
Name: Genre, dtype: object

In [42]:
imbd_small["Error"]

0                 NaN
1    Movie not found!
2                 NaN
3    Movie not found!
4    Movie not found!
Name: Error, dtype: object