In [10]:
import requests
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
ls

Davis-Pris API.ipynb               Untitled.ipynb
Priscilla - exploring Regex.ipynb  renato_call_data.ipynb
Priscilla -API fetching .ipynb

In [32]:
full_data_merged = pd.read_csv("./../raw_data/full_data_merged.csv")
full_data_merged

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,totalSeasons,Response,Error,DVD,BoxOffice,Production,Website,Rotten Tomatoes,Metacritic,Ratings
0,1,2003.0,Dinosaur Planet,3.749543,547,Dinosaur Planet,2003–,NaN,14 Dec 2003,50 min,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,1997.0,Character,3.641153,2012,Character,1997,R,27 Mar 1998,122 min,...,NaN,True,NaN,04 Feb 2003,"$623,983",Almerica Film,NaN,92%,NaN,NaN
2,6,1997.0,Sick,3.084396,1019,Sick,1997,Not Rated,07 Nov 1997,90 min,...,NaN,True,NaN,15 Feb 2017,"$116,806",Sick-the Life and Death of Bob Flanagan-Superm...,NaN,91%,82/100,NaN
3,7,1992.0,8 Man,2.129032,93,8 Man,1992,NaN,NaN,83 min,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10,2001.0,Fighter,3.180723,249,Fighter,2007,NaN,14 Dec 2007,100 min,...,NaN,True,NaN,NaN,NaN,First Run Features,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12375,17763,1978.0,Interiors,3.411855,1957,Interiors,1978,PG,06 Oct 1978,92 min,...,NaN,True,NaN,02 Feb 2017,"$10,432,366",Rollins-Joffe Productions,NaN,79%,67/100,NaN
12376,17764,1998.0,Shakespeare in Love,3.867112,64957,Shakespeare in Love,1998,R,08 Jan 1999,123 min,...,NaN,True,NaN,21 Apr 2016,"$100,317,794","Miramax Films, Bedford Falls Productions, Univ...",NaN,92%,87/100,NaN
12377,17768,2000.0,Epoch,2.839207,1362,Epoch,2001,PG-13,24 Nov 2001,96 min,...,NaN,True,NaN,25 Jan 2017,NaN,Metro-Goldwyn-Mayer,NaN,16%,NaN,NaN
12378,17769,2003.0,The Company,2.498592,6749,The Company,2003,PG-13,20 May 2004,112 min,...,NaN,True,NaN,16 Apr 2012,"$2,283,914","First Snow Production, Capitol Films, Sandcast...",NaN,72%,73/100,NaN
12379,17770,2003.0,Alien Hunter,2.816504,921,Alien Hunter,2003,R,19 Jul 2003,92 min,...,NaN,True,NaN,20 Apr 2013,NaN,NaN,NaN,16%,NaN,NaN

In [12]:
df_250_train = pd.read_csv("./../raw_data/250_train.csv")
df_250_train

,movie_id,Year_x,Name,mean,count,Title,Year_y,Rated,Released,Runtime,...,BoxOffice,Production,Website,Response,Internet Movie Database,Rotten Tomatoes,Metacritic,Error,totalSeasons,Ratings
0,5296,2003.0,Camp,2.982863,6419,Camp,2003,PG-13,29 Aug 2003,114 min,...,"$1,629,862",NaN,NaN,True,6.2/10,64%,55/100,NaN,NaN,NaN
1,12062,2002.0,The Wiggles: Wiggly Safari,3.333333,123,The Wiggles: Wiggly Safari,2002,Not Rated,03 Sep 2002,52 min,...,NaN,NaN,NaN,True,6.6/10,NaN,NaN,NaN,NaN,NaN
2,16079,2003.0,Dark Waters,2.269091,275,Dark Waters,2019,PG-13,06 Dec 2019,126 min,...,"$11,136,084","Killer Films, Participant Media",NaN,True,7.6/10,89%,73/100,NaN,NaN,NaN
3,11023,1998.0,Bubblegum Crisis,3.704156,409,Bubblegum Crisis,1987–1991,TV-MA,10 Dec 2014,25 min,...,NaN,NaN,NaN,True,7.4/10,91%,NaN,NaN,1.0,NaN
4,2013,2002.0,Borderline,2.955846,1223,Borderline,1980,PG,05 Mar 1981,97 min,...,NaN,Incorporated Television Company (ITC),NaN,True,6.0/10,33%,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,4278,1995.0,Miami Rhapsody,2.860560,1714,Miami Rhapsody,1995,PG-13,27 Jan 1995,95 min,...,"$5,221,281",Hollywood Pictures,NaN,True,5.4/10,45%,NaN,NaN,NaN,NaN
144,4791,1940.0,Pinocchio,3.614729,1290,Pinocchio,1940,G,23 Feb 1940,88 min,...,"$84,254,167",Walt Disney Productions,NaN,True,7.4/10,73%,99/100,NaN,NaN,NaN
145,15651,1997.0,Oliver Twist,3.479549,709,Oliver Twist,2005,PG-13,30 Sep 2005,130 min,...,"$2,080,321",NaN,NaN,True,6.8/10,NaN,65/100,NaN,NaN,NaN
146,15869,1940.0,Broadway Melody of 1940,3.630499,682,Broadway Melody of 1940,1940,Passed,09 Feb 1940,102 min,...,NaN,"Metro-Goldwyn-Mayer, Loew&#39;s Inc.",NaN,True,7.3/10,80%,NaN,NaN,NaN,NaN
147,14255,1994.0,Yeh Dillagi,2.918919,185,Yeh Dillagi,1994,Not Rated,06 May 1994,155 min,...,NaN,Yash Raj Films,NaN,True,6.0/10,47%,NaN,NaN,NaN,NaN

In [13]:
df_250_train.columns

Index(['movie_id', 'Year_x', 'Name', 'mean', 'count', 'Title', 'Year_y',
       'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors',
       'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Metascore',
       'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice',
       'Production', 'Website', 'Response', 'Internet Movie Database',
       'Rotten Tomatoes', 'Metacritic', 'Error', 'totalSeasons', 'Ratings'],
      dtype='object')

In [28]:
df_250_train.Actors[0]

'Don Dixon, Daniel Letterle, Joanna Chilcoat'

In [23]:
actors = df_250_train["Actors"]

vectorizer = CountVectorizer(max_features=2)

X = vectorizer.fit_transform(actors)

print(vectorizer.get_feature_names())

['david', 'james']

In [30]:
vectorizer = CountVectorizer(token_pattern=r"^\w\s\w\W$")

X = vectorizer.fit_transform(actors)

print(vectorizer.get_feature_names())

ValueError: empty vocabulary; perhaps the documents only contain stop words

In [24]:
print(X.toarray())
print(X.toarray().shape)

[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [2 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]]
(148, 2)

In [25]:

print(vectorizer.get_feature_names())
['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
>>> print(X.toarray())
[[0 1 1 1 0 0 1 0 1]
 [0 2 0 1 0 1 1 0 1]
 [1 0 0 1 1 0 1 1 1]
 [0 1 1 1 0 0 1 0 1]]
>>> vectorizer2 = CountVectorizer(analyzer='word', ngram_range=(2, 2))
>>> X2 = vectorizer2.fit_transform(corpus)
>>> print(vectorizer2.get_feature_names())
['and this', 'document is', 'first document', 'is the', 'is this',
'second document', 'the first', 'the second', 'the third', 'third one',
 'this document', 'this is', 'this the']
 >>> print(X2.toarray())
 [[0 0 1 1 0 0 1 0 0 0 0 1 0]
 [0 1 0 1 0 1 0 1 0 0 1 0 0]
 [1 0 0 1 0 0 0 0 1 1 0 1 0]
 [0 0 1 0 1 0 1 0 0 0 0 0 1]]

SyntaxError: invalid syntax (<ipython-input-25-aa2953a625a7>, line 3)