In [2]:
import requests
import pandas as pd

In [41]:

url = 'http://www.omdbapi.com/?i=tt3896198&apikey=ef5507df'

In [42]:
response = requests.get(url).json()

In [43]:
response

{'Title': 'Guardians of the Galaxy Vol. 2',
 'Year': '2017',
 'Rated': 'PG-13',
 'Released': '05 May 2017',
 'Runtime': '136 min',
 'Genre': 'Action, Adventure, Comedy',
 'Director': 'James Gunn',
 'Writer': 'James Gunn, Dan Abnett, Andy Lanning',
 'Actors': 'Chris Pratt, Zoe Saldana, Dave Bautista',
 'Plot': "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father the ambitious celestial being Ego.",
 'Language': 'English',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 15 wins & 58 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '85%'},
  {'Source': 'Metacritic', 'Value': '67/100'}],
 'Metascore': '67',
 'imdbRating': '7.6',
 'imdbVotes': '589,440',
 'imdbID': 'tt3896198',
 'Type': 'movie',
 'DVD': '10 Jul 2017',
 'BoxOffice': '$389,813,101',
 'Production': 'Walt Disney Pictures, Marvel Studios',
 'Website': 'N/A',
 'Response': 'True'}

In [44]:
response.keys()

dict_keys(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response'])

In [48]:
# Loop
# actors = [i['name'] for i in response['starList']]
# actors

['Leonardo DiCaprio', 'Joseph Gordon-Levitt', 'Ellen Page', 'Ken Watanabe']

In [98]:
def movie_info(Title):
    url = f'http://www.omdbapi.com/?t={Title}&apikey=ef5507df'
    response = requests.get(url).json()
    response[('Rotten Tomatoes')]
    #ratings list = response [ratings]
    #itterate through ratings list
    #as we go through each one we append the value of list source (if key only for: rotten tomatoes and Metacritics)
    #appends dictionary value 
    #drop ratings keys
    
    return response 
    #which wil have 3 extra keys

In [99]:
movie_info("The Mask")

{'Title': 'The Mask',
 'Year': '1994',
 'Rated': 'PG-13',
 'Released': '29 Jul 1994',
 'Runtime': '101 min',
 'Genre': 'Action, Comedy, Crime, Fantasy',
 'Director': 'Chuck Russell',
 'Writer': 'Michael Fallon (story), Mark Verheiden (story), Mike Werb (screenplay)',
 'Actors': 'Jim Carrey, Peter Riegert, Peter Greene, Amy Yasbeck',
 'Plot': 'Bank clerk Stanley Ipkiss is transformed into a manic superhero when he wears a mysterious mask.',
 'Language': 'English, Swedish',
 'Country': 'USA',
 'Awards': 'Nominated for 1 Oscar. Another 6 wins & 20 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOWExYjI5MzktNTRhNi00Nzg2LThkZmQtYWVkYjRlYWI2MDQ4XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '79%'},
  {'Source': 'Metacritic', 'Value': '56/100'}],
 'Metascore': '56',
 'imdbRating': '6.9',
 'imdbVotes': '353,410',
 'imdbID': 'tt0110475',
 'Type': 'movie',
 'DVD': '01 Jun 2009',
 'BoxOffice': '$119,938,730',
 'Production': 'New Line Cinema, Dark Horse Entertainment',
 'Website': 'N/A',
 'Response': 'True'}

In [100]:
movie_list = ['Inception', 'The mask']
df_list = []
for movie in movie_list:
    df_temp = pd.DataFrame(movie_info(movie))
    df_list.append(df_temp)

In [101]:
df_temp

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,The Mask,1994,PG-13,29 Jul 1994,101 min,"Action, Comedy, Crime, Fantasy",Chuck Russell,"Michael Fallon (story), Mark Verheiden (story)...","Jim Carrey, Peter Riegert, Peter Greene, Amy Y...",Bank clerk Stanley Ipkiss is transformed into ...,...,56,6.9,"353,410",tt0110475,movie,01 Jun 2009,"$119,938,730","New Line Cinema, Dark Horse Entertainment",N/A,True
1,The Mask,1994,PG-13,29 Jul 1994,101 min,"Action, Comedy, Crime, Fantasy",Chuck Russell,"Michael Fallon (story), Mark Verheiden (story)...","Jim Carrey, Peter Riegert, Peter Greene, Amy Y...",Bank clerk Stanley Ipkiss is transformed into ...,...,56,6.9,"353,410",tt0110475,movie,01 Jun 2009,"$119,938,730","New Line Cinema, Dark Horse Entertainment",N/A,True
2,The Mask,1994,PG-13,29 Jul 1994,101 min,"Action, Comedy, Crime, Fantasy",Chuck Russell,"Michael Fallon (story), Mark Verheiden (story)...","Jim Carrey, Peter Riegert, Peter Greene, Amy Y...",Bank clerk Stanley Ipkiss is transformed into ...,...,56,6.9,"353,410",tt0110475,movie,01 Jun 2009,"$119,938,730","New Line Cinema, Dark Horse Entertainment",N/A,True

In [102]:
pd.DataFrame(movie_info(movie))['Ratings']

0    {'Source': 'Internet Movie Database', 'Value':...
1        {'Source': 'Rotten Tomatoes', 'Value': '79%'}
2          {'Source': 'Metacritic', 'Value': '56/100'}
Name: Ratings, dtype: object

In [97]:
movie_info(movie)

{'Title': 'The Mask',
 'Year': '1994',
 'Rated': 'PG-13',
 'Released': '29 Jul 1994',
 'Runtime': '101 min',
 'Genre': 'Action, Comedy, Crime, Fantasy',
 'Director': 'Chuck Russell',
 'Writer': 'Michael Fallon (story), Mark Verheiden (story), Mike Werb (screenplay)',
 'Actors': 'Jim Carrey, Peter Riegert, Peter Greene, Amy Yasbeck',
 'Plot': 'Bank clerk Stanley Ipkiss is transformed into a manic superhero when he wears a mysterious mask.',
 'Language': 'English, Swedish',
 'Country': 'USA',
 'Awards': 'Nominated for 1 Oscar. Another 6 wins & 20 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOWExYjI5MzktNTRhNi00Nzg2LThkZmQtYWVkYjRlYWI2MDQ4XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.9/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '79%'},
  {'Source': 'Metacritic', 'Value': '56/100'}],
 'Metascore': '56',
 'imdbRating': '6.9',
 'imdbVotes': '353,410',
 'imdbID': 'tt0110475',
 'Type': 'movie',
 'DVD': '01 Jun 2009',
 'BoxOffice': '$119,938,730',
 'Production': 'New Line Cinema, Dark Horse Entertainment',
 'Website': 'N/A',
 'Response': 'True'}

In [ ]:
# testing different way THE MARTIN WAY

In [ ]:
import requests
# fill the parameters for the prediction
params = dict(
  key='2012-10-06 12:10:20.0000001',
  pickup_datetime='2012-10-06 12:10:20 UTC',
  pickup_longitude=40.7614327,
  pickup_latitude=-73.9798156,
  dropoff_longitude=40.6413111,
  dropoff_latitude=-73.9797156,
  passenger_count=1
)
# build the URL (server DNS, port, API endpoint, parameters)
url = "http://127.0.0.1:8000/predict_fare"
# retrieve the response
response = requests.get(url,params).json()
print(response)

In [58]:
# THE MARTIN WAY

In [ ]:
import requests
# fill the parameters for the prediction
params = dict(
  key='2012-10-06 12:10:20.0000001',
  pickup_datetime='2012-10-06 12:10:20 UTC',
  pickup_longitude=40.7614327,
  pickup_latitude=-73.9798156,
  dropoff_longitude=40.6413111,
  dropoff_latitude=-73.9797156,
  passenger_count=1
)
# build the URL (server DNS, port, API endpoint, parameters)
url = "http://127.0.0.1:8000/predict_fare"
# retrieve the response
response = requests.get(url,params).json()
print(response)