In [1]:
import pandas as pd
import numpy as np
from datetime import date, time, datetime, timedelta

In [2]:
df = pd.read_csv("./../raw_data/merged_movies_by_index.csv")

In [3]:
df.columns

Index(['avg_review_score', 'n_reviews', 'year', 'title', 'Title', 'Year',
       'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors',
       'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Metascore',
       'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'totalSeasons', 'Response',
       'Internet Movie Database', 'Index_match', 'DVD', 'BoxOffice',
       'Production', 'Website', 'Rotten Tomatoes', 'Metacritic', 'Ratings'],
      dtype='object')

In [4]:
# fill the missing values
# df["Released"] = df["Released"].fillna("Non Available")

In [5]:
df["year"]

0        2003
1        1997
2        1997
3        1992
4        1947
         ...
10381    1978
10382    1998
10383    2000
10384    2003
10385    2003
Name: year, Length: 10386, dtype: int64

In [6]:
# updating the year column from integers to datetime
year_age = pd.to_datetime(df.year, format='%Y')
year_age

0       2003-01-01
1       1997-01-01
2       1997-01-01
3       1992-01-01
4       1947-01-01
           ...
10381   1978-01-01
10382   1998-01-01
10383   2000-01-01
10384   2003-01-01
10385   2003-01-01
Name: year, Length: 10386, dtype: datetime64[ns]

In [7]:
df["year_age"] = pd.to_datetime(df.year, format='%Y')
df["year_age"]

0       2003-01-01
1       1997-01-01
2       1997-01-01
3       1992-01-01
4       1947-01-01
           ...
10381   1978-01-01
10382   1998-01-01
10383   2000-01-01
10384   2003-01-01
10385   2003-01-01
Name: year_age, Length: 10386, dtype: datetime64[ns]

In [8]:
df.columns

Index(['avg_review_score', 'n_reviews', 'year', 'title', 'Title', 'Year',
       'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors',
       'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Metascore',
       'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'totalSeasons', 'Response',
       'Internet Movie Database', 'Index_match', 'DVD', 'BoxOffice',
       'Production', 'Website', 'Rotten Tomatoes', 'Metacritic', 'Ratings',
       'year_age'],
      dtype='object')

In [9]:
# checking that there are no empty values
year_age.isnull().value_counts()

False    10386
Name: year, dtype: int64

In [10]:
year_age.isnull().shape

(10386,)

In [11]:
# getting today's date 
today = datetime.now()
print(today)

2021-06-13 20:47:28.077179

In [12]:
# getting today's date in the same format as the year column 
print(today.strftime('%Y-%m-%d'))

2021-06-13

In [13]:
d1 = today.strftime('%Y-%m-%d')
d2 = year_age

In [14]:
def diff_dates(d1,d2):
    d1 = today.strftime('%Y-%m-%d')
    d2 = year_age
    return abs(d2-d1).days

In [15]:

def time_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

In [16]:
# df["movie_age"] = df["year_age"].map(time_between)

In [17]:
def time_diff(x):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    for dates in df["year_age"].apply(lambda x: dates - d1)

SyntaxError: invalid syntax (<ipython-input-17-3cc5bdf5bbd9>, line 3)

In [ ]:
a = today.strftime('%Y-%m-%d')

datetimeFormat = '%Y-%m-%d'
dateT = a
dateY = year_age
diff = datetime.datetime.strptime(dateT, datetimeFormat)\
    - datetime.datetime.strptime(dateY, datetimeFormat)
 
print("Difference:", diff)
print("Days:", diff.days)

In [ ]:
df["age_year"] = df["Language"].map(year_age_func)

In [ ]:
df["age_year"] = []

In [ ]:
df_250['Rotten Tomatoes'] = df_250['Rotten Tomatoes'].apply(lambda x: float(str(x).replace('%', '')))
df_250['Rotten Tomatoes'] = df_250['Rotten Tomatoes'].replace(0, df_250['Rotten Tomatoes'].mean())

In [ ]:
print(today.strftime("%c"))
print(today.strftime("%x"))
print(today.strftime("%X"))

In [ ]:
age = timedelta(a, year_age)

In [ ]:
datetime1 = datetime.datetime(2000, 1, 1)
datetime2 = datetime.datetime(2010, 1, 1)

time_difference = relativedelta(datetime2, datetime1)
difference_in_years = time_difference.years

print(difference_in_years, "years")