# Netflix

In [1]:
%load_ext autoreload
%autoreload 2

## Libraries

In [24]:
import os
import pandas as pd
from Netflix.data import Movies

## Data Wrangling

In [86]:
movies = Movies()

In [87]:
# pd.read_csv('../raw_data/data.csv')

In [88]:
df = movies.get_data()

In [89]:
df

,movie_id,Year,Name,mean,count
0,1,2003.0,Dinosaur Planet,3.749543,547
1,2,2004.0,Isle of Man TT 2004 Review,3.558621,145
2,3,1997.0,Character,3.641153,2012
3,4,1994.0,Paula Abdul's Get Up & Dance,2.739437,142
4,5,2004.0,The Rise and Fall of ECW,3.919298,1140
...,...,...,...,...,...
17765,17766,2002.0,Where the Wild Things Are and Other Maurice Se...,3.193388,605
17766,17767,2004.0,Fidel Castro: American Experience,3.671569,204
17767,17768,2000.0,Epoch,2.839207,1362
17768,17769,2003.0,The Company,2.498592,6749
17769,17770,2003.0,Alien Hunter,2.816504,921

In [ ]:
# number of unique movies
df['movie'].nunique()