# Netflix

In [1]:
%load_ext autoreload
%autoreload 2

## Libraries

In [2]:
import pandas as pd
from Netflix.data.get_data import Movies

## Data Wrangling

In [3]:
movies = Movies()

In [4]:
df = movies.get_data()

In [5]:
df.sample(5)

          movie     user  rating       date
59730269  10984    16272       3 2002-07-31
59257402  10899   337743       5 2005-09-17
54526521   9946  1698697       5 2005-05-13
65881344  12071   705075       3 2004-08-30
99220802  17506  2438490       2 2005-03-14

In [6]:
# number of unique movies
df['movie'].nunique()

17770

In [7]:
# def group_data():
#     df = df.groupby('movie').agg({'rating': 'mean'})
#     return df

In [8]:
# convert to datetime with pandas
# df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

In [9]:
# groupby movie ID
df = df.groupby('movie')['rating'].agg(['mean','count'])

In [10]:
df.head()

           mean  count
movie
1      3.749543    547
2      3.558621    145
3      3.641153   2012
4      2.739437    142
5      3.919298   1140

In [26]:
# read movie_titles file
# movie_titles = pd.read_csv('../raw_data/movie_titles.csv', encoding = "ISO-8859-1", header=None, names=['movie_id', 'movie_year', 'movie_name'])

In [42]:
df_title = pd.read_csv('../raw_data/movie_titles.csv', encoding = "ISO-8859-1", header = None, names = ['Movie_Id', 'Year', 'Name', 'a', 'b' ,'c'])
df_title = df_title

In [46]:
df_title = df_title.drop(columns=['a', 'b', 'c'])

KeyError: "['a' 'b' 'c'] not found in axis"

In [40]:
!pip freeze | grep pandas

pandas==1.2.4
pandas-profiling==2.11.0

In [41]:
# data outside the package
# saving in the raw_data