# Netflix

In [1]:
%load_ext autoreload
%autoreload 2

## Libraries

In [24]:
import os
import pandas as pd
from Netflix.data import Movies

## Data Wrangling

In [86]:
movies = Movies()

In [87]:
# pd.read_csv('../raw_data/data.csv')

In [88]:
# df = movies.get_data()

In [95]:
# df

In [97]:
# number of unique movies
# df['movie'].nunique()

In [93]:
data = pd.read_csv('../raw_data/data.csv')

In [100]:
data.tail(3)

       movie_id    Year          Name      mean  count
17767     17768  2000.0         Epoch  2.839207   1362
17768     17769  2003.0   The Company  2.498592   6749
17769     17770  2003.0  Alien Hunter  2.816504    921