In [2]:
import pandas as pd # data processing
import numpy as np # working with arrays
import matplotlib.pyplot as plt # visualization
from matplotlib import rcParams # figure size
from termcolor import colored as cl # text customization

from sklearn.tree import DecisionTreeClassifier as dtc # tree algorithm
from sklearn.model_selection import train_test_split # splitting the data
from sklearn.metrics import accuracy_score # model precision
from sklearn.tree import plot_tree # tree diagram

rcParams['figure.figsize'] = (25, 20)

In [4]:
df = pd.read_csv('../raw_data/merged_movies_by_index.csv')
print(cl(df.head(), attrs = ['bold']))

   avg_review_score  n_reviews  year                 title  \
0          3.749543        547  2003       Dinosaur Planet
1          3.641153       2012  1997             Character
2          3.084396       1019  1997                  Sick
3          2.129032         93  1992                 8 Man
4          3.417582        546  1947  My Favorite Brunette

                  Title  Year      Rated     Released  Runtime  \
0       Dinosaur Planet  2003        NaN  14 Dec 2003   50 min
1             Character  1997          R  27 Mar 1998  122 min
2                  Sick  1997  Not Rated  07 Nov 1997   90 min
3                 8 Man  1992        NaN          NaN   83 min
4  My Favorite Brunette  1947     Passed  04 Apr 1947   87 min

                                       Genre  ... Response  \
0             Documentary, Animation, Family  ...     True
1                      Crime, Drama, Mystery  ...     True
2                                Documentary  ...     True
3                             Action, Sci-Fi  ...     True
4  Comedy, Crime, Mystery, Romance, Thriller  ...     True

  Internet Movie Database Index_match          DVD BoxOffice  \
0                  7.7/10           1          NaN       NaN
1                  7.7/10           3  04 Feb 2003  $623,983
2                  7.5/10           6  15 Feb 2017  $116,806
3                  5.4/10           7          NaN       NaN
4                  6.8/10          12  10 Mar 2016       NaN

                                          Production Website Rotten Tomatoes  \
0                                                NaN     NaN             NaN
1                                      Almerica Film     NaN             92%
2  Sick-the Life and Death of Bob Flanagan-Superm...     NaN             91%
3                                                NaN     NaN             NaN
4               Paramount Pictures, Hope Enterprises     NaN             75%

   Metacritic  Ratings
0         NaN      NaN
1         NaN      NaN
2      82/100      NaN
3         NaN      NaN
4         NaN      NaN

[5 rows x 34 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10386 entries, 0 to 10385
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   avg_review_score         10386 non-null  float64
 1   n_reviews                10386 non-null  int64
 2   year                     10386 non-null  int64
 3   title                    10386 non-null  object
 4   Title                    10386 non-null  object
 5   Year                     10386 non-null  int64
 6   Rated                    8984 non-null   object
 7   Released                 9956 non-null   object
 8   Runtime                  10206 non-null  object
 9   Genre                    10351 non-null  object
 10  Director                 9772 non-null   object
 11  Writer                   9312 non-null   object
 12  Actors                   10309 non-null  object
 13  Plot                     10086 non-null  object
 14  Language                 10323 non-null  object
 15  Country                  10367 non-null  object
 16  Awards                   6513 non-null   object
 17  Poster                   10262 non-null  object
 18  Metascore                4219 non-null   float64
 19  imdbRating               10315 non-null  float64
 20  imdbVotes                10314 non-null  object
 21  imdbID                   10386 non-null  object
 22  Type                     10386 non-null  object
 23  totalSeasons             403 non-null    float64
 24  Response                 10386 non-null  bool
 25  Internet Movie Database  10315 non-null  object
 26  Index_match              10386 non-null  int64
 27  DVD                      7939 non-null   object
 28  BoxOffice                5041 non-null   object
 29  Production               6725 non-null   object
 30  Website                  0 non-null      float64
 31  Rotten Tomatoes          8632 non-null   object
 32  Metacritic               4219 non-null   object
 33  Ratings                  70 non-null     object
dtypes: bool(1), float64(5), int64(4), object(24)
memory usage: 2.6+ MB

In [6]:
feature_names = df.columns[:5]
target_names = df

plot_tree(model, 
          feature_names = feature_names, 
          class_names = target_names, 
          filled = True, 
          rounded = True)

plt.savefig('tree_visualization.png')

NameError: name 'model' is not defined